/*Variáveis*/
@font-face {
  font-family: MontBold;
  src: url(/Fontes/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontMedium;
  src: url(/Fontes/Montserrat-Medium.ttf);
}
@font-face {
  font-family: MontSemiBold;
  src: url(/Fontes/Montserrat-SemiBold.ttf);
}
:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;

  --white: #fff;

  --title: #181818;
  --text: #474747;

  --montBold: MontBold;
  --montMedium: MontMedium;
  --montSemiBold: MontSemiBold;

  --width: 1440px;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}
/*Fim do reset*/
body {
  background-color: var(--bgSite);
}
header {
  max-width: var(--width);
  height: auto;
  margin: auto;
}
.desconto-container {
  text-align: center;
  background-color: var(--title);
  color: var(--white);
  padding: 12px 0px;
  font-family: var(--montMedium);
  font-size: small;
  letter-spacing: 0.2rem;
}
.nomeDaLoja-container {
  text-align: center;
  background-color: transparent;
  padding: 14px 0px;
  font-family: var(--montSemiBold);
}
.banner-container {
  height: 35rem;
}
.banner-container img {
  position: absolute;
  z-index: -1;
  width: var(--width);
  height: 35rem;
  object-fit: cover;
  filter: brightness(40%);
}
.bannerContent-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0px 15px;
}
.banner-container h1 {
  font-size: xx-large;
  font-family: var(--montBold);
  color: var(--white);
}
.banner-container p {
  padding-top: 20px;
  max-width: 60rem;
  font-size: large;
  font-family: var(--montSemiBold);
  color: var(--white);

  letter-spacing: 0.2rem;
}
.products-container {
  max-width: 145rem;
  height: auto;
  margin: auto;
}
.productsTitle-container {
  text-align: center;
  margin: 30px auto;
  padding: 0px 5px;
}
.productsTitle-container h1 {
  font-family: var(--montSemiBold);
  font-size: xx-large;
}
.productsTitle-container p {
  font-family: var(--montMedium);
  font-size: medium;
  letter-spacing: 0.15rem;
  margin: 20px auto;
}
.productsCards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  max-width: 30rem;
  height: 30rem;
  background-color: var(--bgCard);
  margin: 20px 5px;
  padding: 0px 5px;
}
.card img {
  transform: translateY(30%);
}
footer {
  max-width: var(--width);
  margin: auto;
  margin-top: 40px;
  text-align: center;
  background-color: var(--title);
  color: var(--white);
  padding: 12px 0px;
  font-family: var(--montMedium);
  font-size: small;
  letter-spacing: 0.2rem;
}
@media only screen and (min-width: 768px) {
  .bannerContent-container {
    margin: 0px 100px;
    transform: translateY(-20px);
  }
}
@media only screen and (max-width: 768px) {
  .banner-container h1 {
    font-size: x-large;
  }
  .banner-container p {
    font-size: medium;
  }
  .productsTitle-container h1 {
    font-size: x-large;
  }
}
@media only screen and (min-width: 375px) {
  .card {
    max-width: 35rem;
    height: 35rem;
  }
}
